$primary-color-1: #004389;
$primary-color-1-hover: #00366C;
$input-border-color: #949494;
$panel-header-background: #ECF0F2;
$panel-header-background-hover: #E2E8EB;
$datepicker-body-background: white;
$datepicker-days-background: #E9E9E9;
$error-color: #e74c3c;
$lighter-text-color: #8F8F8F;
$disabled-color: #BEBEBE;

$table-td-border-color: #D6D6D6;
$table-th-border-color: #C4C4C4;
$table-th-background-color: #E2E8EB;
$table-th-text-color: #4B4D54;
$table-alternating-row-color: #ECF0F2;

$tab-control-border-color: #C4C4C4;

$input-height: 28px;
$small-font-size: 0.85em;
$container-padding: 15px;